<div class="parallax-container2">
<div class="parallax"><%= image_tag "http://www.sofiaquintero.com/wp-content/uploads/2014/08/o-EMPTY-CLASSROOM-facebook.jpg" %></div>


<div class="blog_index">
  <% if logged_in? %>
    <%= link_to "new", new_entry_path %>
  <% end %>
  <h3>blog posts</h3>
  <% @entries.each do |entry| %>
  <ul>
    <li class="blog-title"><%= link_to "#{entry.title}", "/entries/#{entry.id}" %></li>
  </ul>
  <% end %>
</div>
</div>

<div class="home"><%= link_to 'home', root_path %></div>

<% if logged_in? %>
  <div class="logout">
    <%= link_to "logout", '/logout', method: "post" %>
  </div>
<% else %>
  <div class="admin">
    <%= link_to "admin", sessions_new_path %>
  </div>
<% end %>
