<div class="home"><%= link_to 'home', root_path %></div>


<div class="parallax-container2">
<div class="parallax"><%= image_tag "https://puserscontentstorage.blob.core.windows.net/userimages/ce7802e3-4190-4ef1-a63f-9327380e17b6/635211708360193050_mood-book-pages-grass-hd-wallpaper.jpg" %></div>


<div class="office z-depth-5">
  <h2><%= @entry.title %></h2>
  <h5><%= @entry.created_at.strftime("%B %e, %Y") %></h5>
  <p><%= simple_format(@entry.body) %></p>
</div>

<div class="back"><%= link_to 'back', entries_path %></div>
</div>