

  <div class="parallax-container">
    <div class="contact">
      <div class="close"><a href="#">[x]</a></div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col 6">
                      <input placeholder="name" type="text" class="validate">
                      <label for="first_name">name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col 6">
                      <input placeholder="subject" type="text" class="validate">
                      <label for="first_name">subject</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea placeholder="message" id="textarea1" class="materialize-textarea"></textarea>
                      <label for="textarea1"></label>
                    </div>
                  </div>
                  <div class="sub">
                    <a class="waves-effect waves-teal btn-flat">submit</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="links">
      <ul>
        <li><%= link_to 'blog', entries_path %>  </li>
        <li><%= link_to 'projects', 'https://github.com/mrbeal15', :target => "blank" %>  </li>
        <li><%= link_to 'resume', 'https://resume.creddle.io/resume/dfgoivoqc4q', :target => "blank" %>  </li>
        <li class="contact_link"><%= link_to 'contact', entries_path %></li>
      </ul>
    </div>
    <div class="parallax"><img src="http://1.bp.blogspot.com/-MMYkThgt_WA/Tmoe7Cpi2bI/AAAAAAAAAT0/a6VJl1EmADo/s1600/Black+and+White+Highway+Wp+long+goodbye.png"></div>
  </div>

  <div class="quote z-depth-3">
    "So what world are we referring to that would 'let you be great'? I mean LET you be anything?<br> This life is the grind.. Seek and you shall find."--Damian Lillard
  </div>

  <div class="card z-depth-4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "chicago2.jpg", class: "activator" %>
    </div>
    <div class="card-content">
      <span class="card-title activator white-text text-darken-4">matt beal<i class="material-icons right">[+]</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">about me<i class="material-icons right">[-]</i></span>
      <p>Welcome! <br><br> As you know, my name is Matt Beal and I'm currently living in Oklahoma City. Last November, I graduated from Dev Bootcamp in the great city of Chicago, and I recently began my first job as a software developer. This site is a testament to what one can accomplish when you throw caution and reason to the wind and subscribe to the fact that experts were once clueless. The most efficient way to learn is to embrace your ignorance. Don't run from it.<br><br>Seek and you shall find.<br><br>-Matt B
       </p>
    </div>
  </div>