<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="z-depth-6">
      <ul>
        <li><%= link_to 'blog', entries_path %><li>
        <li><a href="/resume">resume</a><li>
        <li><a href="http://github.com/mrbeal15">projects</a><li>
        <li><a href="/">contact</a><li>
      </ul>
  </nav>

    <%= yield %>

  <footer class="footer">
    <h6>matthew beal</h6>
  </footer>
</body>
</html>
